<hello name="{{ name }}"></hello>
<p>
  Start editing to see some magic happen :)
</p>



<div class="container-fluid">

  <form>
    <div class="row">
      <div class="col-md-12 mb-3">
        <input type="text" class="form-control" placeholder="Login" style="width:78%;float:left;">
        <button type="button" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>

  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th (click)="sort('avatar_url')">Avatar URL&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort('login')">Login&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort('type')">Type&nbsp;<i class="fa fa-sort"></i></th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let user of users | orderBy: ordIdx : reverse | paginate: {itemsPerPage: itemPerPage, currentPage: page};">
          <td>{{ user.avatar_url }}</td>
          <td>{{ user.login }}</td>
          <td>{{ user.type }}</td>
        </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
  </div>
</div>